/*MARGIN IN PADDING sta vključena v skupno velikost boxa*/
* {
    box-sizing: border-box;
}

.header h3 a img {
    width: 180px; 
    height: 90px;
}

header {
    display: flex;              /* Flexbox layout */
    justify-content: space-between; /* Razporedi elemente enakomerno med seboj */
    align-items: center;        /* Poravnaj navpično v sredino */
    padding: 0.5em 1em;         /* Dodaj padding za boljši izgled */
    background-color: #333;
    color: white;
}

/*CONTAINER KI VSEBUJE COLUMNE - BODY*/
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*OSNOVNE LASTNOSTI BODYJA*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

/*HAMBURGER IKONA JE SKRITA PRI VEČJIH ZASLONIH*/
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/*OSNOVNE LASTNOSTI TABEL (TRENUTNA LESTVICA)*/
table, th, td {
    border: 0.5px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.85em;
    padding: 0.25em;
}
/*TABELE UVRSTITEV - ZNOTRAJ STRANI POSAMEZNE EKIPE*/
table.tabeleuvrstitev {
    padding: 0;
}

form.donatebtn input {
    height: 5em;
    width: 10em;
    margin-right: 2.5em;
}

nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    padding: 0.5em;
}

form.donatebtn {
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* MENI V HEADERJU IN FOOTERJU */
nav a {
    color: white;
    text-decoration: none;
    padding: 0.75em 1.25em;
    transition: background-color 0.2s, color 0.3s; /* Prehod za barvo in ozadje */
}

nav ul {
    display: flex;
}

nav.header ul {
    margin-block-start: 0;
    margin-block-end: 0;
}
/* Seznamni elementi v navigaciji */
nav ul li {
    list-style-type: none; /* Odstrani točke */
    display: flex;
    flex-direction: row;
    padding: 0.25em 0.75em;
    border-right: 1px solid white;
}


nav ul li a {
    font-weight: bold;
}

nav ul li a:hover {
    color: red; /* Spremeni barvo ob hoverju */
    transition: color 0.3s; /* Dodaj prehod za barvo */
}


/*STYLE ZA SLIKE V SUBPAGIH PREDICTIONS - MATCHUPS*/
/*SLIKA ODDANIH PREDICTIONOV*/
img.predictions {
    object-fit: cover;
    width: 100%;
    margin-bottom: 1.25em;
    width: 100%;
    margin-left: 1.5em;
}
/*SLIKA ZBRANIH TOČK V POSAMEZNEM KROGU*/
img.tockekrog {
    float: right;
    margin-top: -15.75em;
    margin-right: -3%;
    height: 43%;
    width: 22%;
}


/*LASTNOSTI STRANSKEGA MENIJA V STRANEH IN PODSTRANEH*/
ul.menizgodovina, ul.meniekipe, ul.meniseason2425, ul.menipredictions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    font-size: 0.9em;
    margin-left: 2%;
    margin-right: 2%;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}
ul.meniseason2425 li, ul.menipredictions li, ul.meniekipe li, ul.menizgodovina li {
    list-style-type: none;
    text-decoration: none;
    padding: 0.5em 0.5em;
    border: 0.5px solid white;
}
ul.menizgodovina li a, ul.meniekipe li a, ul.meniseason2425 li a, ul.menipredictions li a {
   color: white;
   text-decoration: none;
   transition: background-color 0.2s;
}
ul.menizgodovina li a:hover, ul.meniekipe li a:hover, ul.meniseason2425 li a:hover, ul.menipredictions li a:hover {
    color: red;
    transition: .1s;
}

nav ul li:first-child {
    border-left: 1px solid white; /* Rob na levi strani prvega elementa */
}

.meniekipe, .menizgodovina, .menipredictions {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/*NASLOVI IN BESEDILO*/
h1 {
    font-size: 1.5em;
    text-align: center;
}
h2 {
    font-size: 1.25em;
    margin-left: 5%;
    color: forestgreen;
}
/*NASLOV NAD TRENUTNO LESTVICO*/
h2.lestvica {
    margin-block-start: 0;
    margin-left: 0;
    text-align: center;
    padding-top: 0px;
}
/*NASLOV NAD TRENUTNO LESTVICO PREDICTIONS*/
h2.lestvicapredictions {
    text-align: center;
    padding-top: 0px;
}
h3 {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
p {
    font-size: 0.9em;
    margin-left: 5%;
    margin-right: 5%;
}



/*LASTNOSTI LEVEGA MENIJA V BODYJU*/
.col-2.sidenav {
    background-color: #333;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 0;
    height: auto;
}
.col-2.sidenav h1 {
    margin-left: 0;
    text-align: center;
    font-size: 1.5em;
    color: red;
    padding: 0.5em 0em 0.5em 0em;
    border: 3px solid red;

}

/*LASTNOSTI SREDINSKEGA DELA BODYJA - GLAVNE VSEBINE*/
.col-7.main {
    padding-left: 1.25em;
    padding-right: 0;
    height: auto;
}

.iframelestvica {
    overflow: auto;
    text-align: center;
}
.iframelestvicapredictions {
    text-align: center;
}

/*TRENUTNA LESTVICA*/
/*TRENUTNA LESTVICA - IFRAME - ENAK NA VSEH PODSTRANEH*/



iframe.trenutnalestvica {
    border: none;
    margin: 0;
    height: auto; 
    width: 100%;
    font-size: 0.5em;
}
iframe.trenutnalestvicapredictions {
    border: none;
    margin: 0;
    height: auto;
    width: 100%
    margin-left: 1.25em;
    font-size: 0.5em;
}

/*LESTVICA TOP3 V TABU ZGODOVINA - PRETEKLI ZMAGOVALCI*/
table.podium tr th {
    padding: 0.25em 0.25em;
    border-collapse: collapse;
}


/*SKALIRANJE COLUMNOV*/
main {
    flex: 1;
}

/*ESPN LINK V HEADERJU BREZ SPODNJE MARGINE (ZARADI PREDICTIONS SLIK)*/
img.espn {
    margin-bottom: 0;
}

/*COUNTDOWN DO DRAFTA*/
p#demo {
    color: red;
    text-align: center;
    font-size: 2em;
    border: 1px solid red;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*BARVE ZA HEADER IN FOOTER*/
header, footer {
    background-color: #333;
    color: white;
    padding: 0px 0px;
}

/*DONATE BUTTON*/
.donate {
    border: none;
    background: red;
    padding: 1em 1.75em;
    border-radius: 1.5em;
    color: white;
    font-weight: bold;
    font-size: 1em;
}


/*STOLPCI, MOŽNE ŠIRINE*/
[class*="col-"] {
    float: left;
    padding: 0.5em;
    height: 100%;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

span.vprasanje {
    font-weight: bold;
    color: black;
}


/*DROPDOWN MENI*/
/* Dropdown container - relative positioning */
.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    background-color: #333;
    color: white;
    text-decoration: none;
    display: flex;
    padding: 0.75em 1.25em;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 12em;
    box-shadow: 0em 0.4em 0.8em 0em rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
}
.dropdown-content a {
    padding: 0.25em 0.5em;
    font-weight: normal;
    white-space: nowrap;
    }
/* Links inside the dropdown */
.dropdown-content li {
    display: flex;
    flex-direction: column;
}

.dropdown-content ul li {
    padding: 0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #575757;
}

/* Postavitev za manjše zaslone (npr. telefoni) */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    /*LOGO*/
    .header h3 a img {
        height: 30px;
        width: 60px;
    }

    footer {
        display: none;
    }
    
    .row {
        flex-direction: column;
    }

    .col-2.sidenav {
        width: 100%;
        margin-bottom: 10px;
    }

    .col-7.main {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .main-content {
        width: 100%;
    }

    nav ul {
        display: none; 
        flex-direction: column;
        top: 100%;
        left: 0;
        background-color: #333;
        padding: 0;
        width: 100%;
        z-index: 100;
    }

    nav ul.show {
        display: flex;   /*prikaži meni ob kliku na hamburger*/
        flex-direction: column;
    }

    .hamburger {
        display: block;
        margin: 0 auto;
    }
    
    nav ul li {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid white;
        text-align: left;
        padding: 0.5em 0;
        border: none
    }

    nav ul li a {
        text-align: center; 
        padding: 1em;
        width: 100%;
    }

    header, nav, main, iframe, footer {
        width: 100%;
    }

    form.donatebtn input {
        width: 100%;
        height: 3em;
    }
    
    iframe {
        height: auto; /* Prilagodljiva višina iframe */
    }
}

