/*MARGIN IN PADDING sta vključena v skupno velikost boxa*/
* {
    box-sizing: border-box;
}

/*CONTAINER KI VSEBUJE COLUMNE - BODY*/
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

/*OSNOVNE LASTNOSTI BODYJA*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

/*OSNOVNE LASTNOSTI TABEL (TRENUTNA LESTVICA)*/
table, th, td {
    border: 0.5px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.85em;
    padding: 0.25em;
}

/*MENU V HEADERJU IN FOOTERJU*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.75em 1.25em;
    transition: background-color 0.2s;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 0.5em 1em;
    border-right: 1px solid white;
}

nav ul li:first-child {
    border-left: 1px solid white;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
    transition: .3s;
}

/*LASTNOSTI LEVEGA MENIJA V BODYJU*/
.col-2.sidenav {
    background-color: #333;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 0;
    height: auto;
}

.col-2.sidenav h1 {
    margin-left: 0;
    text-align: center;
    font-size: 1.5em;
    color: red;
    padding: 0.5em 0em 0.5em 0em;
    border: 3px solid red;
}

/*LASTNOSTI SREDINSKEGA DELA BODYJA - GLAVNE VSEBINE*/
.col-7.main {
    padding-left: 1.25em;
    padding-right: 0;
    height: auto;
}

.col-3.lestvica {
    padding-left: 1.25em;
    padding-right: 0;
}

/*IFRAME - ENAK NA VSEH PODSTRANEH*/
iframe {
    border: none;
    margin: 0;
    height: auto; 
    width: 100%; /* Zajema celotno širino */
}

/*SKALIRANJE COLUMNOV*/
main {
    flex: 1;
}

/*BARVE ZA HEADER IN FOOTER*/
header, footer {
    background-color: #333;
    color: white;
    padding: 0px 0px;
}

/* Postavitev za manjše zaslone (npr. telefoni) */
@media screen and (max-width: 768px) {
    .row {
        flex-direction: column; /* Spremeni smer na mobilnih napravah */
    }

    .col-2.sidenav,
    .col-7.main,
    .col-3.lestvica {
        width: 100%; /* Raztegnite čez celotno širino */
        margin-bottom: 10px; /* Razmik med elementi */
    }

    nav ul {
        display: flex;
        flex-direction: column; /* Vertikalno poravnanje */
        padding: 0;
        width: 100%;
    }
    
    header, nav, main, iframe, footer {
        width: 100%; /* Vsi elementi zavzamejo celotno širino */
        margin-bottom: 10px;
    }

    iframe {
        height: auto; /* Prilagodljiva višina iframe */
    }
}

header, nav, main, iframe, footer {
    border: 1px solid red; /* Rdeč okvir za pomoč pri postavitvi */
}
